@font-face {
    font-family: 'yb-web';
    font-weight: 300;
    font-style: normal;
    src: url(./assets/fonts/yr.eot);
}
@font-face {
    font-family: 'yb-web';
    font-weight: 300;
    font-style: normal;
    src: url(./assets/fonts/ym.woff);
}
@font-face {
    font-family: 'yb-web';
    font-weight: 700;
    font-style: normal;
    src: url(./assets/fonts/yb.woff);
}
@font-face {
    font-family: 'yb-web';
    font-weight: 900;
    font-style: normal;
    src: url(./assets/fonts/yf.woff);
}
@font-face {
    font-family: 'yb-web-fa';
    font-weight: normal;
    font-style: normal;
    src: url(./assets/fonts/Yekan_Bakh_Number_FA_04_Regular.woff);
}