
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*{
    box-sizing: border-box;
}
html{
	margin-left: calc(100vw - 100%);
}
body {
	line-height: 1;
	color: #333;
	font-family: 'yb-web';
	font-size: 16px;
}
ol, ul {
	list-style: none;
}
a, button{
    cursor: pointer;
    font-family: 'yb-web';
}
a{
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong{
	font-weight: 700;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.f-r{
    float: right;
}
.f-l{
    float: left;
}
.w-100{
    width: 100%;
}
.f-w{
    float: right;
    width: 100%;
}
.header {
	padding: 25px 0;
	border-bottom: 1px solid #f0ecff;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #fff;
	z-index: 99;
}
.btn {
	color: #fff;
	border: none;
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 40px;
	box-shadow: 0 0 10px #048AE970;
	background: linear-gradient(45deg, #0CA6EE, #048AE9);
}
.header-navigation > a {
	float: right;
	line-height: 45px;
	color: #121212;
	padding: 0 20px;
}
.header-navigation > a:last-child {
	margin-left: 35px;
}
.header-btn{
    margin-right: 15px;
}
.p-r{
    position: relative;
}
.p-a{
    position: absolute;
}
.o-h{
    overflow: hidden;
}
.top-section {
	height: calc(100vh - 96px);
}
main {
	margin-top: 96px;
	min-height: calc(100vh - 171px);
}
.t-sq {
	width: 600px;
	height: 600px;
	background-color: #1b2839;
	opacity: 0.028;
	border-radius: 60px;
	z-index: 1;
	transform: rotate(60deg);
	left: -100px;
}
.tp-holder-cns {
	float: right;
	width: 100%;
	height: calc(100vh - 96px);
	position: relative;
	z-index: 1;
}
.tp-image {
	position: absolute;
	width: 520px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.tp-table-ic {
	position: absolute;
	left: 0;
	width: 120px;
	opacity: 0.07;
}
.tp-txts {
	position: absolute;
	width: calc(100% - 520px);
	top: 50%;
	transform: translateY(-50%);
}
.tp-txts > h1 {
	float: right;
	width: 100%;
	font-size: 54px;
	font-weight: 900;
	letter-spacing: 1px;
	color: #058eea;
	margin-bottom: 15px;
	text-shadow: 3px 2px 0 rgba(51, 51, 51, 0.2);
}
.tp-txts-spans {
	float: right;
	width: 504px;
	text-align: left;
	font-size: 19px;
}
.tp-txts-spans > span {
    float: left;
    line-height: 25px;
}
.tp-txts-spans > span:first-child {
	background-color: #333;
	color: #fff;
    padding: 2px 6px 0;
    margin-right: 10px;
}
.tp-frm-dmn {
	float: right;
	margin-top: 50px;
	width: 504px;
	height: 65px;
	position: relative;
	margin-bottom: 20px;
}
.tp-frm-dmn > input[type="text"] {
	float: right;
	width: 100%;
	line-height: 65px;
	border: none;
	box-shadow: 0 10px 30px rgba(50,50,93,.12),0 -1px 4px rgba(0,0,0,.06);
	border-radius: 40px;
	padding: 0 15px 0 150px;
	font-size: 20px;
	text-align: center;
}
.tp-frm-dmn > button {
	position: absolute;
	width: 120px;
	left: 10px;
	top: 10px;
}
.tp-circle-ic {
	opacity: 0.015;
	transform: rotate(30deg);
	position: absolute;
	right: -400px;
	bottom: 0;
}
.row {
	display: flex;
	width: calc(100% + 100px);
	margin-right: -50px;
	margin-left: -50px;
	flex-wrap: wrap;
}
.rowx {
	display: flex;
	width: calc(100% + 60px);
	margin-right: -30px;
	margin-left: -30px;
	flex-wrap: wrap;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.3333%;
}
.col-p{
	padding-right: 50px;
	padding-left: 50px;
}
.col-px{
	padding-right: 30px;
	padding-left: 30px;
}
.ico-pos {
	width: 70px;
	height: 70px;
	display: block;
	background-color: #3778cc;
	margin-bottom: 20px;
	border-radius: 15px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	box-shadow: 0 3px 6px rgba(96,108,236,.15),0 1px 3px rgba(0,0,0,.11);
}
.ico-pos::before {
	content: '';
	width: 26px;
	height: 26px;
	display: block;
	margin: 0px auto;
	position: absolute;
	right: 0;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.ico-pos-admin{
	background: linear-gradient(45deg, #F33366, #FE5F7D);
	box-shadow: 0 0 10px #FE5F7D82;
}
.ico-pos-admin::before {
	background: url('./assets/img/settings.svg') no-repeat scroll center center /contain;
}
.ico-pos-themes{
	background: linear-gradient(45deg, #02DFB5, #22C2BC);
	box-shadow: 0 0 10px #22C2BC73;
}
.ico-pos-themes::before {
	background: url('./assets/img/monitor.svg') no-repeat scroll center center /contain;
}
.ico-pos-forms {
	background: linear-gradient(45deg, #FFD770, #FFAE83);
	box-shadow: 0 0 10px #FFAE8380;
}
.ico-pos-forms::before {
	background: url('./assets/img/clipboard.svg') no-repeat scroll center center /contain;
}
.ico-pos-shop {
	background: linear-gradient(45deg, #8265FC, #4B6CF7);
	box-shadow: 0 0 10px #4B6CF778;
}
.ico-pos-shop::before {
	background: url('./assets/img/shopping-bag.svg') no-repeat scroll center center /contain;
}
.ico-pos-h h3 {
	display: block;
	text-align: center;
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 700;
}
.ico-pos-h p {
	display: block;
	text-align: justify;
	font-weight: 100;
	font-size: 18px;
	line-height: 1.5;
	text-align-last: center;
}
.c-p {
	padding-top: 100px;
	padding-bottom: 100px;
}
.sep {
	border-bottom: 1px solid rgba(0, 0, 0 , 0.07);
}
.sec-t {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 32px;
	font-weight: 900;
	margin-bottom: 100px;
	letter-spacing: 1px;
	text-shadow: 3px 2px 0 rgba(51, 51, 51, 0.2);
}
.tm-demo-bx {
	display: block;
	width: 100%;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	transition: all .3s ease-out;
	cursor: pointer;
	margin-bottom: 60px;
}
.tm-demo-bx:hover {
	transform: translateY(-10px);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.tm-demo {
	display: block;
	width: 100%;
}
.walled-sec {
	background: linear-gradient(to top, #eee, #fff);
}
.d-b{
	display: block;
}
.btn-ft {
	margin: 0 auto;
	width: -moz-fit-content;
	width: fit-content;
	width: -webkit-fit-content;
}
.mt-10 {
	margin-top: 20px;
}
.t-c{
	text-align: center;
}
.faq-box {
	box-shadow: 0 10px 30px rgba(50,50,93,.12),0 -1px 4px rgba(0,0,0,.06);
	padding: 30px 40px;
	line-height: 1.8;
	border-radius: 5px;
	border-right: 5px solid #099bec;
	margin-bottom: 15px;
}
.faq-q {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 10px;
}
.box{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 10px 30px rgba(50,50,93,.12),0 -1px 4px rgba(0,0,0,.06);
}
.prc-bx {
	padding: 40px 30px;
	position: relative;
	overflow: hidden;
}
.pln-tt {
	display: block;
	font-size: 30px;
	font-weight: 900;
	text-align: center;
	margin-bottom: 30px;
}
.pln-prc {
	display: block;
	width: 100%;
}
.pln-prc > span {
	display: block;
	text-align: center;
}
.pln-prc-1 {
	font-size: 28px;
	opacity: 0.4;
	position: relative;
}
.pln-prc-1::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 1px;
	background: #333;
	transform: rotate(-10deg);
	top: 7px;
	right: 0;
	left: 0;
	margin: 0 auto;
}
.pln-prc-2 {
	font-size: 40px;
	font-weight: 700;
}
.ribbon {
	position: absolute;
	width: 150px;
	height: 36px;
	right: -38px;
	top: 15px;
	transform: rotate(45deg);
}
.bx-1 .pln-prc-2 {
	color: #13d0b9;
}
.bx-1 .ribbon {
	background: linear-gradient(45deg, #02DFB5, #22C2BC);
	box-shadow: 0 0 10px #22C2BC73;
}
.bx-btn-1{
	background: linear-gradient(45deg, #02DFB5, #22C2BC);
	box-shadow: 0 0 10px #22C2BC73;
}
.bx-btn-2 {
	background: linear-gradient(45deg, #8265FC, #4B6CF7);
	box-shadow: 0 0 10px #4B6CF778;
}
.bx-btn-3{
	background: linear-gradient(45deg, #F33366, #FE5F7D);
	box-shadow: 0 0 10px #FE5F7D82;
}
.bx-2 .ribbon {
	background: linear-gradient(45deg, #8265FC, #4B6CF7);
	box-shadow: 0 0 10px #4B6CF778;
}
.bx-3 .ribbon{
	background: linear-gradient(45deg, #F33366, #FE5F7D);
	box-shadow: 0 0 10px #FE5F7D82;
}
.bx-2 .pln-prc-2 {
	color: #6369f9;
}
.bx-3 .pln-prc-2 {
	color: #f94972;
}
.pln-prc-u {
	opacity: 0.8;
}
.pln-prc-p {
	font-size: 25px;
	font-weight: 700;
	margin-top: 15px;
}
.opt-lst {
	display: block;
	width: 100%;
	margin-top: 40px;
	font-size: 18px;
	font-weight: 100;
	line-height: 2;
	padding: 0 15px;
	text-align: center;
}
.bx-ftr {
	text-align: center;
	display: block;
	margin-top: 50px;
}
.g-txt {
	font-size: 18px;
	padding-right: 50px;
}
.g-txt::before {
	float: right;
	content: "";
	width: 10px;
	height: 10px;
	background: #50ca23;
	border-radius: 50%;
	margin-left: 6px;
	box-shadow: 0 0 10px #50ca2385;
	animation: bladeDots 1s infinite;
}
@keyframes bladeDots{
	0%{opacity: 0;}
	50%{opacity: 1;}
	100%{opacity: 0;}
}
.q-lnk {
	float: right;
	width: 100%;
	margin-top: 30px;
	font-size: 14px;
	color: #333;
	opacity: 0.8;
}
.logo {
	float: right;
	height: 50px;
	margin: -2px 0;
}
.footer {
	float: right;
	width: 100%;
	background-color: #333;
}
.footer nav {
	float: right;
	width: calc(100% + 80px);
	padding: 30px 0;
	margin-right: -40px;
	margin-left: -40px;
}
.footer nav > a {
	float: right;
	color: #fff;
	font-size: 15px;
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	padding: 0 40px;
	opacity: 0.7;
	transition: all 0.2s ease-in-out;
}
.footer nav > a:hover {
	opacity: 1;
}
.footer nav > a:last-child {
	border-left: none;
}
.inner-pages {
	margin-top: 25px;
	float: right;
	width: 100%;
	margin-bottom: 40px;
}
.d-flex{
	display: flex;
}
.ord-nav > a {
	width: calc(100% / 5);
	text-align: center;
	position: relative;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.ord-nav {
	margin-bottom: 25px;
}
.ord-nav > a.router-link-active:not(.isNotHome) {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	opacity: 1;
}
.ic-nv {
	width: 70px;
	height: 70px;
	display: block;
	margin: 0 auto;
	margin-bottom: 24px;
	border-radius: 15px;
	z-index: 2;
	position: relative;
}
.ic-nv::before {
	content: '';
	position: absolute;
	width: 32px;
	height: 32px;
	right: 0;
	left: 0;
	top: 50%;
	margin: 0 auto;
	transform: translateY(-50%);
}
.ic-nv.ic-nv-pln{
	background: linear-gradient(45deg, #F33366, #FE5F7D);
	box-shadow: 0 0 10px #FE5F7D82;
}
.ic-nv.ic-nv-pln::before {
	background: url('./assets/img/order/1.svg') no-repeat scroll center center/cover;
}
.ic-nv.ic-nv-dmn{
	background: linear-gradient(45deg, #02DFB5, #22C2BC);
	box-shadow: 0 0 10px #22C2BC73;
}
.ic-nv.ic-nv-dmn::before {
	background: url('./assets/img/order/2.svg') no-repeat scroll center center/cover;
}
.ic-nv.ic-nv-thm {
	background: linear-gradient(45deg, #FF9BEF, #FF5CE5);
	-webkit-box-shadow: 0 0 10px #22C2BC73;
	box-shadow: 0 0 10px #FF5CE573;
}
.ic-nv.ic-nv-thm::before {
	background: url('./assets/img/order/6.svg') no-repeat scroll center center/cover;
}
.ic-nv.ic-nv-stg{
	background: linear-gradient(45deg, #FFD770, #FFAE83);
	box-shadow: 0 0 10px #FFAE8380;
}
.ic-nv.ic-nv-stg::before {
	background: url('./assets/img/order/3.svg') no-repeat scroll center center/cover;
}
.ic-nv.ic-nv-add{
	background: linear-gradient(45deg, #8265FC, #4B6CF7);
	box-shadow: 0 0 10px #4B6CF778;
}
.ic-nv.ic-nv-add::before {
	background: url('./assets/img/order/4.svg') no-repeat scroll center center/cover;
}
.ic-nv.ic-nv-pay{
	background: linear-gradient(45deg, #0CA6EE, #048AE9);
	box-shadow: 0 0 10px #048AE970;
}
.ic-nv.ic-nv-pay::before {
	background: url('./assets/img/order/5.svg') no-repeat scroll center center/cover;
}
.ord-nav-tt {
	display: block;
	color: #333;
}
.d-rtl{
	direction: rtl;
}
.p-in {
	padding: 40px 50px;
}
.all-bx > h1 {
	text-align: right;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 10px;
}
.all-bx > p {
	text-align: right;
	font-size: 18px;
	margin-bottom: 25px;
	line-height: 2;
}
.bx-inp{
	border: 2px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	opacity: 0.7;
	filter: grayscale(1);
	transition: all 0.07s ease-in-out;
}
.bx-1.selected {
	border-color: #13d0b9;
}
.bx-2.selected {
	border-color: #6369f9;
}
.bx-3.selected {
	border-color: #f94972;
}
.bx-inp.selected{
	opacity: 1;
	filter: grayscale(0);
}
.bx-inp .pln-prc-p{
	margin-bottom: 30px;
}
.pln-dets-ft {
	display: block;
	text-align: center;
}
.shw-cmp {
	background: transparent;
	border: 2px solid #333;
	border-radius: 5px;
	font-size: 16px;
	padding: 10px 30px;
	color: #333;
}
.bx-1.selected .shw-cmp {
	border: 2px solid #13d0b9;
	background-color: #13d0b9;
	color: #fff;
}
.bx-2.selected .shw-cmp {
	border: 2px solid #6369f9;
	background-color: #6369f9;
	color: #fff;
}
.bx-3.selected .shw-cmp {
	border: 2px solid #f94972;
	background-color: #f94972;
	color: #fff;
}
.modal-opc {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	visibility: hidden;
	transition: all 0.15s ease-in-out;
}
.activeModal .modal-opc {
	opacity: 1;
	visibility: visible;
}
.modal-bx {
	position: fixed;
	z-index: 1000;
	width: 1000px;
	max-width: 100%;
	max-height: calc(100vh - 40px);
	right: 0;
	left: 0;
	margin: 0 auto;
	top: calc(50% + 20px);
	transform: translateY(-50%);
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	transition: all 0.15s ease-in-out;
}
.activeModal .modal-bx {
	top: 50%;
}
.modal-hd {
	float: right;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.modal-hd > span {
	float: right;
	line-height: 80px;
	margin-right: 30px;
	font-size: 20px;
}
.modal-main {
	float: right;
	width: 100%;
	height: 668px;
	max-height: calc(100% - 100px);
	overflow-y: auto;
	padding: 20px;
}
.modal-cls {
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	background: transparent url(./assets/img/x.svg) no-repeat scroll center center/16px auto;
	border: none;
}
.lvl-ft {
	float: right;
	width: 100%;
	margin-top: 40px;
}
.nxt-lvl {
	float: left;
	background: linear-gradient(45deg, #0CA6EE, #048AE9);
	color: #fff;
	padding: 16px 30px;
	border-radius: 32px;
	box-shadow: 0 0 10px #048AE970;
}
.prv-lvl {
	float: right;
	background: linear-gradient(45deg, #0CA6EE, #048AE9);
	color: #fff;
	padding: 16px 30px;
	border-radius: 32px;
	box-shadow: 0 0 10px #048AE970;
}
.btni{
	width: 16px;
	height: 16px;
	background: url('./assets/img/arrow-left.svg') no-repeat scroll 0 0/cover;
}
.btni-nxt{
	float: left;
	margin-right: 10px;
}
.btni-prv{
	float: right;
	margin-left: 10px;
	transform: rotate(180deg);
}
.whs-frm {
	width: 600px;
	margin: 0 calc((100% - 600px)/2);
}
.whs-frm .tp-frm-dmn{
	width: 100%;
}
.frm-rw > label {
	width: 260px;
	float: right;
	font-size: 16px;
	line-height: 47px;
	color: #718393;
}
.frm-rw > input[type="text"],
.frm-rw > input[type="email"] {
	float: right;
	width: 340px;
	font-family: 'yb-web';
	font-size: 16px;
	line-height: 2;
	padding: 9px 15px 6px;
	border: none;
	border-radius: 5px;
	background: #ebf2f8;
	color: #718393;
}
.frm-rw {
	margin-bottom: 25px;
}
.bx-srv {
	border: 2px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
}
.ch-container {
	float: right;
	position: relative;
	padding-right: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 26px;
	color: #718393;
}
.ch-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark {
	position: absolute;
	top: 0;
	right: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 4px;
}
.ch-container:hover input ~ .checkmark {
	background-color: #ccc;
	transition: all 0.15s ease-in-out;
}
.ch-container input:checked ~ .checkmark {
	background-color: #8CC42A;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.ch-container input:checked ~ .checkmark:after {
	display: block;
}
.ch-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.srv-row{
	margin-bottom: 10px;
}
.det-tlt {
	position: absolute;
	background: #333;
	color: #fff;
	font-size: 15px;
	padding: 10px 20px;
	width: 300px;
	text-align: justify;
	visibility: hidden;
	opacity: 0;
	bottom: 34px;
	right: 0;
	left: 0;
	margin: 0 auto;
	transform: translateX(50%);
	border-radius: 4px;
	box-shadow: 0 0 10px #3333;
	transition: all 0.2s ease-in-out;
}
.det-tlt::after {
	content: "";
	width: 20px;
	height: 20px;
	background: #333;
	position: absolute;
	bottom: 5px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg) translateX(-17px);
	right: 0;
	left: 0;
	margin: 0 auto;
}
.det-cn {
	position: relative;
	float: right;
	margin-right: 10px;
}
.det-ic {
	width: 25px;
	height: 25px;
	background: url(./assets/img/qu.svg) no-repeat scroll center center/20px;
	float: right;
}
.ch-txt{
	float: right;
}
.det-cn:hover .det-tlt{
	visibility: visible;
	opacity: 1;
	bottom: 40px;
}
.compare-table {
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row;
	flex-flow: row;
	margin-bottom: 40px;
	border-radius: 5px;
	overflow: hidden;
}
.prc-table-col {
	flex-basis: -moz-available;
}
.prc-table-col:nth-child(1) {
	background: linear-gradient(45deg, #eaeaea, #f3f3f3);
}
.prc-table-col:nth-child(2) {
	background: linear-gradient(45deg, #02DFB5, #22C2BC);
	color: #fff;
}
.prc-table-col:nth-child(3) {
	background: linear-gradient(45deg, #8265FC, #4B6CF7);
	color: #fff;
}
.prc-table-col:nth-child(4) {
	background: linear-gradient(45deg, #F33366, #FE5F7D);
	color: #fff;
}
.prc-table-cell {
	padding: 20px;
	text-align: center;
}
.prc-table-title {
	padding: 25px 20px;
	background: rgba(0, 0, 0, 0.1);
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}
.i-bool {
	width: 16px;
	height: 16px;
	display: block;
	margin: 0 auto;
	position: relative;
}
.i-bool.i-checked-true::before {
	content: "";
	position: absolute;
	width: 8px;
	height: 3px;
	background: #fff;
	transform: rotate(45deg);
	left: 0;
	bottom: 0;
}
.i-bool.i-checked-true::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 3px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(-45deg);
	left: 4px;
	bottom: 2px;
}
.i-bool.i-checked-false::before {
	content: "";
	position: absolute;
	width: 18px;
	height: 3px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 0;
	bottom: 0;
}
.i-bool.i-checked-false::after {
	content: "";
	position: absolute;
	width: 18px;
	height: 3px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(-45deg);
	left: 0px;
	bottom: 0px;
}
.prc-table-cell:nth-child(2n) {
	background-color: rgba(0, 0, 0, 0.04);
}
.ord-con {
	position: relative;
}
.ord-price-box {
	position: absolute;
	left: 50px;
	top: 50px;
	background: linear-gradient(45deg, #02DFB5, #22C2BC);
	border: none;
	color: #fff;
	font-size: 18px;
	line-height: 46px;
	padding: 0;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 10px #22C2BC73;
}
.prc-cart{
	float: right;
	width: 20px;
	height: 20px;
	
}
.prc-cart {
    float: right;
    width: 46px;
    height: 46px;
    background: url(./assets/img/shopping-cart.svg) no-repeat scroll center center/20px;
    background-color: rgba(0, 0, 0, 0.1);
}
.prc-title {
	float: right;
	padding: 0 15px;
}
.prc-title > span {
	font-family: yb-web-fa;
	margin-left: 3px;
}
.msg {
	float: right;
	width: 100%;
	text-align: right;
	padding: 10px 15px;
	border-radius: 4px;
	margin-top: 35px;
}
.msg-success {
	background: #edfbf6;
	color: #32d296;
}
.msg-error {
	background: #fbeded;
	color: #d23232;
}
.msg-error #submitDomain{
	display: none;
}
#submitDomain {
	float: left;
	background-color: #32d296;
	border: none;
	color: #fff;
	padding: 5px 10px;
	font-size: 15px;
}
.msg > span {
	line-height: 34px;
	float: right;
}
.msg{
	float: right;
	position: relative;
	width: 100%;
	display: none;
}
.msg.active{
	display: inherit;
}
.msg::before{
	content: "";
	float: right;
}
.msg::after{
	content: "";
	float: right;
}

.loader {
	position: absolute;
	width: 25px;
	height: 25px;
	right: 20px;
	top: 20px;
	background: url('./assets/img/loader.gif') no-repeat scroll 0 0/cover;
	display: none;
}
.loader.active {
	display: block;
}


.fade-enter-active {
	transition: all .3s;
}
.fade-enter, .fade-leave-to{
	opacity: 0;
	transform: scale(1.01);
}
