<template>
    <div>
        <div class="all-bx f-w">
            <h1 class="f-w">انتخاب دامنه</h1>
            <p class="f-w">
                دامنه مورد نظر خود را وارد نمایید.<br>
                می توانید دامنه با پسوندهای ایرانی (مانند ir  و...) و یا دامنه های بین المللی (مانند com و ...) را انتخاب نمایید.
            </p>
            <div class="all-form">
                <div class="whs-frm">
                    <form class="tp-frm-dmn" @submit.prevent="checkDomain">
                        <input type="text" placeholder="example.com" v-model="domainName">
                        <button class="btn">بررسی دامنه</button>

                        <div class="msg">
                            <i></i>
                            <span></span>
                            <button id="submitDomain" v-on:click="addDomain">ثبت و رفتن به مرحله بعدی</button>
                        </div>

                        <span class="loader loader-wit"></span>
                    </form>
                </div>

                <div class="lvl-ft">
                    <router-link class="nxt-lvl" to="/theme">
                        <span class="btni btni-nxt"></span>
                        مرحله بعدی
                    </router-link>
                    <router-link class="prv-lvl" to="/">
                        <span class="btni btni-prv"></span>
                        مرحله قبلی
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'domain',
    data(){
        return{
            domainName: ''
        }
    },
    methods: {
        checkDomain(e){
            document.getElementsByClassName("loader-wit")[0].classList.add("active");
            var _this = this;
            e.preventDefault();
            this.$http.get('http://localhost/whois/example.php',{
                params: {
                    domain: this.domainName
                }
            }).then(function(response){
                _this.showMsg(response.data.result);
                document.getElementsByClassName("loader-wit")[0].classList.remove("active");
            });
        },
        showMsg(result){
            var msg = document.getElementsByClassName("msg")[0];
            var msgText = document.querySelector(".msg > span");
            msg.classList.add("active");
            msg.classList.remove("msg-success");
            msg.classList.remove("msg-error");
            if(result == true){
                msg.classList.add("msg-success");
                msgText.innerHTML = "این دامنه آزاد و قابل ثبت میباشد";
            }else if(result == false){
                msg.classList.add("msg-error");
                msgText.innerHTML = "این دامنه قبلا ثبت شده است. لطفا یک دامنه دیگر را تست کنید.";
            }else{
                msg.classList.add("msg-error");
                msgText.innerHTML = "این دامنه قابلیت ثبت را ندارد. لطفا یک دامنه دیگر را امتحان کنید.";
            }
        },
        addDomain(){
            if(this.$store.state.appBased){
                
            }
        }
    },
    mounted(){
        if(this.$store.state.appBased){

        }
    }
}
</script>