<template>
    <div class="inner-pages">
        <div class="ord-bx f-w">
            <div class="ord-nav f-w d-flex d-rtl">
                <router-link to="/" :class="getClass()">
                    <span class="ic-nv ic-nv-pln"></span>
                    <span class="ord-nav-tt">انتخاب بسته</span>
                </router-link>
                <router-link to="/domain">
                    <span class="ic-nv ic-nv-dmn"></span>
                    <span class="ord-nav-tt">انتخاب دامنه</span>
                </router-link>
                <router-link to="/theme">
                    <span class="ic-nv ic-nv-thm"></span>
                    <span class="ord-nav-tt">انتخاب پوسته</span>
                </router-link>
                <router-link to="/settings">
                    <span class="ic-nv ic-nv-stg"></span>
                    <span class="ord-nav-tt">تنظیمات سایت</span>
                </router-link>
                <router-link to="/services">
                    <span class="ic-nv ic-nv-add"></span>
                    <span class="ord-nav-tt">خدمات اضافی</span>
                </router-link>
                <router-link to="/final">
                    <span class="ic-nv ic-nv-pay"></span>
                    <span class="ord-nav-tt">پرداخت و ایجاد سایت</span>
                </router-link>
            </div>
            <div class="ord-con box f-w p-in">
                <button class="ord-price-box">
                    <span class="prc-cart"></span>
                    <div class="prc-title">
                        <span id="cart-price-holder">{{overallPrice}}</span>
                        تومان
                    </div>
                </button>
                <transition name="fade">
                    <router-view></router-view>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
    name: 'order',
    mounted(){
        document.title = "سایت ساز اینترنتی وبگاه | ایجاد سایت جدید"
    },
    methods: {
        getClass(){
            if(this.$route.path != "/"){
                return 'isNotHome';
            }
        }
    },
    computed:{
        ...mapGetters([
            'overallPrice',
        ]),
    }
}
</script>