<template>
    <div>
        <div class="all-bx f-w">
            <h1 class="f-w">انتخاب بسته</h1>
            <p class="f-w">
                لطفا پلن مورد نظر خود را جهت راه اندازی سایت انتخاب کنید.
            </p>
            <div class="all-form">
                <div class="rowx">
                    <div class="col-4 col-px">
                        <div class="f-w prc-bx bx-inp bx-1">
                            <span class="ribbon"></span>
                            <div class="pln-tt">بسته معمولی</div>
                            <div class="pln-prc">
                                <span class="pln-prc-1">850</span>
                                <span class="pln-prc-2">499</span>
                                <span class="pln-prc-u">هزار تومان</span>
                                <span class="pln-prc-p">سالیانه</span>
                            </div>
                            <div class="pln-dets-ft">
                                <button class="shw-cmp">لیست امکانات</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-px">
                        <div class="f-w prc-bx bx-inp bx-2">
                            <span class="ribbon"></span>
                            <div class="pln-tt">بسته حرفه ای</div>
                            <div class="pln-prc">
                                <span class="pln-prc-1">1,250</span>
                                <span class="pln-prc-2">799</span>
                                <span class="pln-prc-u">هزار تومان</span>
                                <span class="pln-prc-p">سالیانه</span>
                            </div>
                            <div class="pln-dets-ft">
                                <button class="shw-cmp">لیست امکانات</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-px">
                        <div class="f-w prc-bx bx-inp bx-3">
                            <span class="ribbon"></span>
                            <div class="pln-tt">بسته تجاری</div>
                            <div class="pln-prc">
                                <span class="pln-prc-1">2,000</span>
                                <span class="pln-prc-2">1,299</span>
                                <span class="pln-prc-u">هزار تومان</span>
                                <span class="pln-prc-p">سالیانه</span>
                            </div>
                            <div class="pln-dets-ft">
                                <button class="shw-cmp">لیست امکانات</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lvl-ft">
                    <router-link class="nxt-lvl" to="/domain">
                        <span class="btni btni-nxt"></span>
                        مرحله بعدی
                    </router-link>
                </div>
            </div>
        </div>

        <CompareModal />
    </div>
</template>

<script>
import getParameterByName from '../mixins/getParameterByName';
import CompareModal from '../components/CompareModal';
import store from '../store';
import { mapMutations, mapState } from 'vuex';

export default {
    name: 'plans',
    mixins: [getParameterByName],
    components: {
        CompareModal
    },
    mounted(){
        var planBoxes = document.getElementsByClassName("bx-inp");
        var planBoxesLength = planBoxes.length;
        for(var i=0;i<planBoxesLength;i++){
            planBoxes[i].addEventListener('click', this.selectThisPlan);
        }

        var planBtns = document.getElementsByClassName("shw-cmp");
        var planBtnsLength = planBtns.length;
        for(var i=0;i<planBtnsLength;i++){
            planBtns[i].addEventListener('click', this.openCompareModal);
        }

        var selectedPlan = this.getParameterByName('plan');
        var planPrice = 0;

        if(selectedPlan){
            if(selectedPlan == 3){
                document.getElementsByClassName('bx-3')[0].classList.add("selected");
                planPrice = 1299000;
            }else if(selectedPlan == 2){
                document.getElementsByClassName('bx-2')[0].classList.add("selected");
                planPrice = 799000;
            }else{
                document.getElementsByClassName('bx-1')[0].classList.add("selected");
                planPrice = 499000;
            }
            this.setPlanPrice(planPrice);
        }

        var prevStatePlanPrice = this.$store.state.price.plan;
        if(prevStatePlanPrice != 0){
            if(prevStatePlanPrice == 1299000){
                document.getElementsByClassName('bx-3')[0].classList.add("selected");
            }else if(prevStatePlanPrice == 799000){
                document.getElementsByClassName('bx-2')[0].classList.add("selected");
            }else{
                document.getElementsByClassName('bx-1')[0].classList.add("selected");
            }
        }
        

    },
    methods:{
        selectThisPlan(e){
            var planBoxes = document.getElementsByClassName("bx-inp");
            var planBoxesLength = planBoxes.length;
            for(var i=0;i<planBoxesLength;i++){
                planBoxes[i].classList.remove('selected');
            }
            var thisPlan = e.currentTarget;
            thisPlan.classList.add('selected');



            var planPriceTarget = e.currentTarget;
            var planPrice = 0;
            if(planPriceTarget.classList.contains('bx-1')){
                planPrice = 499000;
            }else if(planPriceTarget.classList.contains('bx-2')){
                planPrice = 799000;
            }else if(planPriceTarget.classList.contains('bx-3')){
                planPrice = 1299000;
            }

            this.setPlanPrice(planPrice);
            
        },
        openCompareModal(e){
            e.stopPropagation();
            document.getElementsByTagName('body')[0].classList.add('activeModal');
        },
        ...mapMutations([
            'priceCalc',
        ]),
        setPlanPrice(value){
            store.commit({
                type: 'planPrice',
                amount: value
            });
        }
    }
}
</script>