<template>
    <div>
        <div class="all-bx f-w">
            <h1 class="f-w">خدمات اضافی</h1>
            <p class="f-w">
                می توانید خدمات اضافی زیر را در صورت نیاز انتخاب نمایید.
            </p>
            <div class="f-w srv-row">
                <label class="ch-container">
                    <span class="ch-txt">افزودن محتوا و ساخت صفحات اصلی</span>
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                    <div class="det-cn">
                        <span class="det-ic"></span>
                        <div class="det-tlt">
                            با انتخاب این گزینه صفحات اصلی سایت شما 
                            شامل
                            (صفحه اصلی، خدمات، محصولات، تماس با ما، درباره ما)
                            توسط کارشناسان خبره ما ساخته شده و در اختیار شما قرار میگیرید.
                            (برای صفحات محصول و خدمات یک نمونه ساخته شده و بقیه موارد را میتواند با کپی صفحه های ساخته شده خودتان بسازید)
                        </div>
                    </div>
                </label>
            </div>
            <div class="f-w srv-row">
                <label class="ch-container">پیکربندی پیشرفته سئو صفحات
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="f-w srv-row">
                <label class="ch-container">انتقال محتوا از سایت قبلی
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="lvl-ft">
                    <router-link class="nxt-lvl" to="/final">
                        <span class="btni btni-nxt"></span>
                        مرحله بعدی
                    </router-link>
                    <router-link class="prv-lvl" to="/settings">
                        <span class="btni btni-prv"></span>
                        مرحله قبلی
                    </router-link>
                </div>
        </div>
    </div>
</template>