<template>
    <div>
        <div class="all-bx f-w">
            <h1 class="f-w">تتظیمات سایت</h1>
            <p class="f-w">
                لطفا اطلاعات فرم زیر را به دقت پر کنید. 
            </p>
            <form class="f-w">
                <div class="frm-rw f-w">
                    <label>عنوان وبسایت :</label>
                    <input type="text" placeholder="مثال : سایت ساز وبگاه">
                </div>
                <div class="frm-rw f-w">
                    <label>نام و نام خانوادگی مدیر اصلی وبسایت :</label>
                    <input type="text" placeholder="مثال : محمد خدابنده">
                </div>
                <div class="frm-rw f-w">
                    <label>ایمیل مدیر اصلی وبسایت :</label>
                    <input type="email" placeholder="مثال : email@google.com">
                </div>
                <div class="frm-rw f-w">
                    <label>شماره تلفن مدیر اصلی وبسایت :</label>
                    <input type="text" placeholder="مثال : 09123456789">
                </div>
            </form>
            <div class="lvl-ft">
                <router-link class="nxt-lvl" to="/services">
                    <span class="btni btni-nxt"></span>
                    مرحله بعدی
                </router-link>
                <router-link class="prv-lvl" to="/domain">
                    <span class="btni btni-prv"></span>
                    مرحله قبلی
                </router-link>
            </div>
        </div>
    </div>
</template>