<template>
    <div class="compare-table f-w">
        <div class="prc-table-col">
            <div class="prc-table-title">جزئیات</div>
            <div class="prc-table-body">
                <div class="prc-table-cell">
                    <span>فضای هاست</span>
                </div>
                <div class="prc-table-cell">
                    <span>ترافیک ماهیانه</span>
                </div>
                <div class="prc-table-cell">
                    <span>دامنه رایگان</span>
                </div>
                <div class="prc-table-cell">
                    <span>انتخاب پوسته رایگان</span>
                </div>
                <div class="prc-table-cell">
                    <span>ماژول فرم ساز حرفه ای</span>
                </div>
                <div class="prc-table-cell">
                    <span>پنل مدیریت قدرتمند</span>
                </div>
                <div class="prc-table-cell">
                    <span>اکانت ایمیل اختصاصی</span>
                </div>
                <div class="prc-table-cell">
                    <span>فروشگاه اینترنتی و درگاه پرداخت</span>
                </div>
                <div class="prc-table-cell">
                    <span>نصب ماژول سئو</span>
                </div>
                <div class="prc-table-cell">
                    <span>نصب ماژول های امنیتی</span>
                </div>
                <div class="prc-table-cell">
                    <span>بک آپ گیری</span>
                </div>
                <div class="prc-table-cell">
                    <span>تخفیف خدمات محتوا</span>
                </div>
                <div class="prc-table-cell">
                    <span>ثبت رایگان در گوگل</span>
                </div>
                <div class="prc-table-cell">
                    <span>قیمت</span>
                </div>
            </div>
        </div>
        <div class="prc-table-col" v-for="(plan, index) in plans" :key="index">
            <div class="prc-table-title">{{plan.title}}</div>
            <div class="prc-table-body">
                <div class="prc-table-cell" v-for="(option, index) in plan.options" :key="index">
                    <span v-if="option !== true && option !==false">{{option}}</span>
                    <span v-else>
                        <i :class="'i-bool i-checked-' + option"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'compareTable',
    props: ['plans']
}
</script>