<template>
    <div class="modal-opc" v-on:click="closeModal">
        <div class="modal-bx" v-on:click="notClose">
            <div class="modal-hd">
                <span>مقایسه امکانات پلن ها</span>
                <button class="modal-cls" v-on:click="closeModal"></button>
            </div>
            <div class="modal-main">
                <CompareTable :plans="plans" />
            </div>
        </div>
    </div>
</template>

<script>
import CompareTable from '@/components/CompareTable'
import plans from '@/variables/plans'
export default {
    name: 'modal',
    data(){
        return{
            plans: plans,
        }
    },
    methods: {
        closeModal(e){
            document.body.classList.remove("activeModal");
        },
        notClose(e){
            e.stopPropagation();
        }
    },
    components: {
        CompareTable
    }
}
</script>