<template>
    <footer class="footer">
        <div class="container">
            <nav class="ftr-mn" role="navigation">
                <a href="#">صفحه اصلی</a>
                <a href="#">چرا درگاه؟</a>
                <a href="#">پوسته ها</a>
                <a href="#">سیستم پشتیبانی</a>
                <a href="#">قوانین و مقررات</a>
                <a href="#">تماس با ما</a>
            </nav>
        </div>
    </footer>
</template>

<script>
export default {
    name: 'siteFooter'
}
</script>