<template>
    <header class="header f-w">
        <div class="container">
            <a href="#" title="سایت ساز ایرانی درگاه">
                <img class="logo" alt="سایت ساز ایرانی درگاه" src="../assets/img/logo2.png">
            </a>
            <nav class="header-navigation f-l" role="navigation">
                <a href="/possibilities">امکانات</a>
                <a href="/themes">پوسته ها</a>
                <a href="#faq">سوالات متداول</a>
                <a href="#">سیستم پشتیبانی</a>
                <button class="btn header-btn f-l">ساخت سایت جدید</button>
            </nav>
        </div>
    </header>
</template>
<script>
export default {
    name: 'siteHeader'
}
</script>