<template>
  <div id="app">
    <Header/>
    <main class="f-w">
      <div class="container">
        <router-view></router-view>
      </div>
    </main>
    <Footer/>
  </div>
</template>

<script>
import Header from './components/Header';
import Footer from './components/Footer';
export default {
  name: 'app',
  components: {
    Header,
    Footer
  }
}
</script>

<style lang="scss">
@import './assets/fonts/fonts.scss';
@import './assets/css/home.scss';
</style>

